* {
    margin: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Tilt Neon', cursive;
    text-align: center;
    background-color: rgba(223, 217, 217, 0.808);
}

h1 {
    font-size: 3.5rem;
}

h4{
    font-size: 1rem;
}

div {
    font-size: 2rem;
}

button {
    border-width: .75vmin;
    background-color: white;
    border-radius: 12px;
}

#computer {
    height: 20vmin;
    width: 20vmin;
    border: solid black;
    border-width: 0.5vmin;
    border-radius: 50%;
    margin: 2vmin auto;
    text-align: center;
    padding: 5rem;
    color: white;
    background-color: white;
}

section.player-bubbles > div {
    height: 10vmin;
    width: 10vmin;
    border: solid black;
    border-width: 0.5vmin;
    border-radius: 50%;
    display: inline-flex;
    margin: 2vmin 4vmin;
}

#player-buttons > button {
    margin: 2vmin 0 0 0;
    height: 5vmin;
    width: 15vmin;
}

#play {
    margin: 2vmin 0;
    height: 5vmin;
    width: 20vmin;
}

#submit { 
    height: 5vmin;
    width: 20vmin;
    margin: 0;
}

#undo {
    height: 5vmin;
    width: 20vmin;
    margin: 0;
}

#reset {
    height: 5vmin;
    width: 20vmin;
}

button:hover {
    border-width: 1vmin;
}